html { 
  margin:0;
  padding: 0;

}

body{
	margin: 0;
	padding:0;
	height: 100%;
	width: 100%;
	background:#ddd;
	font-family: 'Open Sans', sans-serif !important;
background: url('../images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header{
	width:100%;
	height:80px;
	color:#fff;
	background:#2C3E50;
	margin:0px;
	padding:0px;
}
.logo{
	width:400px;
	float:left;
}
.logo a{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}

.logo h1{
	font-size:35px;
	line-height:80px;
	font-weight:900;
	color:#fff;
	text-transform:uppercase;
	margin-left:35px;
}
.menu a {
	color: #09f;
	font-weight: 700;
	text-shadow: none;
}

.menu a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.menu a:hover::before,
.menu a:focus::before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1.1);
	opacity: 0;
}


.menu{
	width:500px;
	float:right;
}

.menu ul{
	width:100%;
	line-height:66px;
}

.menu ul li{
	list-style-type:none;
	padding:4px 10px;
	float:left;
}

.menu ul li a{
	text-decoration:none;
	font-size:14px;
	text-transform:uppercase;
}


.form-wrapper{
	position: absolute;
	top: 30%;
	left: 5%;
	background: transparent;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
}

.form-wrapper form{
	padding: 15px;
	text-align: center;
}

.form-wrapper form h1{
	margin:2px;
	padding: 2px;
	font-size:27px;
	color:#fff;
}

.form-wrapper form input{
	margin: 20px 0px;
}

.form-wrapper form select{
	padding: 10px;
	width: 90%;
	margin: 10px 8px;
	
}
.form-wrapper p{
	margin-bottom:10px;
}

#home_submit{
	background:transparent;
	padding:5px 8px;
	border:0px;
	font-size:17px;
	cursor:pointer;
	color:#fff;
	width:90%;
	margin:10px auto;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	border-radius:6px;
	transition:all 0.3s ease-in-out;
	font-weight:bold;
	text-transform:uppercase;
}
#home_submit:hover{
	color:#09f;
	box-shadow:0p 0px 10px rgba(0,0,0,1);
}
	

/* search */



.search-filter{
	background:#fff;
	padding:5px 0px;
	line-height:24px;
	margin:0px 0px 0px 20px;
	color:#777;
	font-size:12px;
	width:16%;
	border-right:0;
	margin-right:-1px;
	margin-top:10px;
	box-shadow:0px 0px 20px rgba(255,255,255,0.3);
	border-radius:3px;
	}

.filter-head{
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	color:#666;
	padding:1px;
	margin:0px;
}

.filter label:hover{
	color:#09f;
	cursor:pointer;
}


.filter{
	border-bottom:1px solid #ddd;
	padding:5px;
}

.filter:last-child{
	border:0;
}

.filter checkbox{
	padding:5px;
}



.data{
	float:left;
	
}

.car-data{
	width:78%;
	margin:10px 10px 10px auto;
	background:#fff;
	box-shadow:0px 0px 20px rgba(255,255,255,0.3);
	float:right;
	display:block;
	border-radius:2px;
}

.no-data{
	padding:8px 5px;
	text-align:center;
}

.car-data-wrapper{
	border:1px solid #c7c7c7;
	width:30%;
	height:300px;
	background:#fff;
	padding:5px;
	color:#555;
	float:left;
	margin:10px;
	text-align:center;
}

.car-misc-data{
	text-align:center;
	margin-bottom:15px;
	
}
.paging{
	width:90%;
	margin:25px auto 25px auto;
	
}

.paging .button{
	color:#09f;
}

.paging .button .fa{
}

.paging ul{
	float:right;
}

.paging .current{
	color:#fff;
	background:#09f;
}
.paging .current:hover{
	box-shadow:0px 0px 0px !important;
}
.paging ul li{
	list-style-type:none;
	padding:3px;
	width:20px;
	float:left;
	height:20px;
	border-radius:20px;
	font-size:15px;
	line-height:20px;
	text-align:center;
	background:#fff;
	border:1px solid #c7c7c7;
	margin:2px;
	transition:0.3s all ease;
}
.paging ul li a{
	text-decoration:none;
	color:#000;
	padding:2px;	
}

.paging ul li:hover{
	box-shadow:0px -1px 4px #000;
}

.more-details{
	padding:4px;
	background:#09f;
	color:#fff;
	text-decoration:none;
	transition:0.3s all ease;
	margin:10px auto;
	border-radius:5px;
	clear:both;
}
.more-details:hover{
	background:#000;
}

.compare-form{
	width:40%;
	padding:15px 8px 8px;
	margin:20px auto 10px auto;
	background:rgba(255,255,255,0.5);
	border:1px solid #c7c7c7;
	border-radius:5px;
	text-align:center;
}

.compare-form select{
	padding:8px;
	margin:3px;
	width:45%;
}
.compare span{
	margin:8px auto;
	clear:both;
}

.compare-form input[type="submit"]{
	padding:8px;
	background:#09f;
	font-size:20px;
	color:#fff;
	border:0;
	text-decoration:none;
	transition:0.3s all ease;
	margin:10px auto;
	border-radius:5px;
	clear:both;
}

.feature_ul li{
	list-style-type:circle !important;
}

.about{
	min-height:300px;
	height:auto;
	height:auto;
	width:80%;
	background:rgba(255,255,255,0.5);
	border-radius:5px;
	margin:40px auto 0px auto;
	color:#fff;
	display:block;
}


.car-compare-details, .car-details-full, .contact{
	width:60%;
	border:1px solid #c7c7c7;
	border-radius:5px;
	padding:10px;
	margin:10px auto;
}

.car-compare-details, .car-details-full{
	background:#fff;
}

.car-details-full img{
	max-width:100%;
	height:auto;
}
.car-details-full{
	width:80%;
	min-height:500px;
	height:auto;
	display:block;
	overflow:hidden;
	clear:both;
	padding-bottom:30px;
}

.car_details_data{
	height:auto;
	margin-top:10px;
	display:inline-block;
	width:50%;
	float:left;
}

.car_details_data p{
	padding:5px;
	line-height:18px;
}

.strong{
	font-weight:bold;
}

.err{
color:#fff;
}

#login label{
color:#fff;}

.car-details-full .fa{
	padding-right:4px;
}
.car-compare-details table{
	padding:4px;
	border:1px solid #c7c7c7;
	color:#00002e;
	width:100%;
	text-align:center;
}
.car-compare-details tbody{
	border-radius:5px;
}
.car-compare-details th{
	color:#fff;
	background:#09f;
	width:33%;
	padding:9px;
	font-weight:bold;
	border-right:1px solid #c7c7c7;

}
.car-compare-details th:first-child{
	border-radius:5px 0px 0px;
}
.car-compare-details th:last-child{
	border-radius:0px 5px 0px 0px;
}
.car-compare-details tr{
	padding:9px;
}
.car-compare-details td{
	padding:9px;
	border-right:1px solid #c7c7c7;
	width:33%;
}
.contact{
	text-align:center;
	margin-top:40px;
}
.contact h1{
	font-size:30px;
	color:#fff;
	font-weight:bold;
	padding:5px;
}
.contact input[type=submit]{
	width:50%;
	background:#09f;
	color:#fff;
	border:0;
	border-radius:5px;
}

.fa-times-circle{
	color:red;
}

.fa-check-circle{
	color:green;
}

.contact input, .contact textarea{
	padding:8px;
	width:80%;
	margin:6px auto;
	border-radius:5px;
	border:0;
}


footer{
	height:80px;
	bottom:0;
	color:#fff;
	display:block;
	border-top:1px solid #eee!important;
	text-align:center;
	width:100%;
	clear:both;
	float:left;
	overflow:hidden;
	line-height:80px !important;
	margin-top:20px !important;
}

.container{
	position:absolute;
	top:35%;
	right:5%;
	text-align:center;
}

.or{
	position:absolute;
	top:45%;
	right:55%;
	font-size:40px;
	font-weight:bolder;
	color:#fff;
	height:70px;
	width:70px;
	padding:5px;
	border-radius:70px;
	line-height:70px;
	text-align:center;
	background:transparent;
	box-shadow:0px 0px 15px rgba(0,0,0,0.5);
}

.panel-default{padding: 15px;}
.form-group{margin-top: 15px;background:transparent;padding:10px 5px; width:540px;border-radius:5px;box-shadow:0px 0px 15px rgba(0,0,0,0.5);}
#loading{display: none;color:#09f;background:#fff;padding:3px;border-radius:3px;}

.panel h1{
	color:#fff;
	font-size:23px;
	font-weight:bolder;
}

.form-group input{
	width:500px;
	padding:10px;
	border-radius:5px;
	font-size:25px;
	border:0px;
    border-bottom-right-radius:0px;
     border-bottom-left-radius:0px;
}

#result
{
    position:absolute;
    width:498.5px;
    padding:10px;
    display:none;
    margin:-10px 0px 0px 15px;
    border-top:0px;
    overflow:hidden;
    border:1px #CCC solid;
    background-color: white;
    border-bottom-right-radius:5px;
     border-bottom-left-radius:5px;
    border-top:0px;
}
.show{font-size:17px;height: 30px;padding: 5px;border-bottom:1px solid #c7c7c7;	text-align:left;
	margin-left:20px;}
.show a{
	text-decoration:none;
	color:#000;
	padding:4px;
	margin:auto;
	margin-left:10px;
}
.show a:hover , .show:hover a{color:#09f;}
.show img{
  display:inline-block;
  vertical-align:middle;
 }

.show .name{
	line-height:40px;
	margin-left:15px;
	 display:inline-block;
  vertical-align:middle;
}
.show:last-child:hover{
	color:#000;
	curor:pointer;
}
.show:hover{background:#fff;color:#09f;cursor:pointer;}


.loader
{
  position: fixed;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999999999999999;
    display:none;
    -webkit-flex-flow: row nowrap;
     -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: none repeat scroll 0 0 rgba(0,0,0,0.6);
}

.spinner {
  margin: 300px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color:#09f !important;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}



#cnt{
	color:white;
	margin-top:20px;
	margin-left:20px;
	line-height:150%
}

#pic{
	margin-left:30px;
}

#sv{
	margin-top:120px;
	margin-left:550px;
	margin-right:auto;
	line-height:200%
}

.thanks{
	text-align:center;
	margin-left:-600px;
	font-size:20px;
	color:white;
}
.ksv{
	text-align:center;
	margin-left:-600px;
	font-size:25px;
	color:red;
}
.thanks, .ksv{
	font-family:Georgia, "Times New Roman", Times, serif;	
}

#email{
	text-align:center;
	font-size:13px;
	color:white;

}